.utrecht-textbox {
  min-inline-size: var(--utrecht-pointer-target-min-size, 44px);
}
.utrecht-textbox--max-length {
  inline-size: calc(
    var(--utrecht-textbox-max-content-size, calc(var(--max-length) * 0.667em + 0.334ch)) +
      var(--utrecht-textbox-padding-inline-end, var(--utrecht-form-control-padding-inline-end, 0)) +
      var(
        --utrecht-textbox-padding-inline-start,
        var(--utrecht-form-control-padding-inline-start, 0)
      ) + var(--utrecht-textbox-border-width, var(--utrecht-form-control-border-width, 0))
  );
}

.utrecht-textbox--openforms-width {
  --max-length: 50;
}

.utrecht-textbox--openforms-house-number-width {
  --max-length: 13;
}

.utrecht-textbox--openforms-email-width {
  --max-length: 50;
}

.utrecht-textbox--openforms-iban-width {
  --max-length: 22;
}

.utrecht-textbox--openforms-currency-width {
  --max-length: 10;
}

.utrecht-textbox--openforms-date-field-width {
  --max-length: 10;
}

.utrecht-textbox--openforms-date-time-field-width {
  --max-length: 12;
}

.utrecht-textbox--openforms-number-field-width {
  --max-length: 6;
}

.utrecht-textbox--openforms-password-field-width {
  --max-length: 50;
}

.utrecht-textbox--openforms-phone-number-field-width {
  --max-length: 15;
}
